.nav-container{
    border : 2px solid rgb(214, 210, 210);
    height:90vh;
    margin-top: 7vh;
    width:80vw;
    margin : 10vh 12vw;
    box-shadow: gray;
    border-radius: 1em;
    display:flex;
    flex-direction: column;
    border-top: none;
    

}
#navbar{
    border-radius: 0.4em;
}

.form-container{
    margin:5vh 17%;
    /* width:80%; */
}

.heading{
    margin:1% 17%;
    text-align: center;
}

.header{
    width:80vw;
    margin : auto 12vw;
    height:11.5vh;

}

div[class="form-container"]{
    border:0.1em solid rgb(201, 194, 194);
    border-radius: 0.5em;
    height:30vh;
    text-align:center;
    width:80%;
    display: flex;
    flex-direction: column;
    margin:6vh 10%;
    
}

#formrow{
    margin:8vh 14%;  
    width:80%;   

}

input[type='text']{
    border : 1.5px solid rgb(211, 206, 206);
}

div[class="navbar-nav"] a[href]:hover{
    color:black;
    background-color: white;
    opacity: 0.3;
}



#alert{
    text-align:center;
    width:80%;
    margin:0.1vh 10%;
    
}

.table{
    width:27.987vw;
    padding:5% 3%;
}

#errorMsg{
    width:80%;
    margin:3vh 10%;
    display:none;
    text-align: center;
    /* display: block; */
}

#innerContent{
    font-size:1.2em;
    font-weight: 450;
}

#btnContainer{
    display: none;
    margin: 6% auto;
}
body{
    min-height: 101%;
}